{% extends 'base.html' %}

{% block content %}
<div class = "p-10">
    <h1 class = 'font-bold pb-4 text-xl'> About this Website </h1>
    <div class = 'divide-y divide-solid'>
        <p class = 'pb-2'> This page provides more information on ColabAtlas and its objectives. </p>
        <div class = 'py-6'>
            <h1 class = 'font-semibold pb-2'> Q: What are our lab's objectives? </h1>
            <p class = 'pb-6'>
                <span class = 'font-semibold'> A: </span> Mutwil lab is interested in studying the evolution of plant genes and metabolites across the evolution of land plants.
                We aim to complete the collection of RNA-sequencing data for at least one species from each order listed on the website.  The lab
                is currently collecting plant samples for species without publicly-available RNA sequencing data (denoted in __ on this page).
            </p>
            <h1 class = 'font-semibold pb-2'> Q: How do I contribute to the study? </h1>
            <p>
                <span class = 'font-semibold'> A: </span> If you would like to contribute to our sampling, please explore our species trees and contact us by 
                <a class = 'hover:text-slate-600 duration-100' href = "https://discord.gg/qr8tYYHu7Y" target = "_blank"> joining our discord </a> should you have access to 
                plants with missing or limited RNA sequencing data.
            </p>
        </div>
    </div>
</div>
{% endblock %}