<!-- All subsequent templates will be based off of this one-->
{% block head %}
<script src="https://cdn.tailwindcss.com"></script>
{% endblock %}

{% block header %}
<nav class = "bg-gray-800 p-4 flex items-center justify-between drop-shadow-2xl">
    <a class = "text-white text-lg font-bold" href = "{{ url_for('index') }}"> ColabAtlas </a>
    <a href = "https://github.com/your-github-repo" target = "_blank" class = "text-white">
        <img src = '{{ url_for("static", filename = "pics/github-mark-white.svg") }}' alt = 'GitHub Logo' class = 'h-6 w-6'/>
    </a>
</nav>
{% endblock %}

<body class = 'bg-gray-100'>
{% block content %}
<!-- Will be filled out by subsequent templates -->
{% endblock %}
</body>

{% block footer %}
<div class = 'fixed text-center bottom-0 px-4 py-5 w-screen bg-gray-800 text-white text-lg'>
    By the <a href = 'https://www.plant.tools/' class = 'hover:underline'> Mutwil Lab </a>
</div>
{% endblock %}