{% extends 'base.html' %}

{% block head %}
{{ super() }}
<!-- Inserting Taxonium and React dependencies -->
<script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
<script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
<script src="https://unpkg.com/taxonium-component"></script>

{% endblock %}

{% block content %}

<div class = 'content'>
    
</div>
<script>
    // const nwk = `((A:0.1,B:0.2):0.3,(C:0.4,D:0.5):0.6);`;
    const sourceData = {
        filename: "misc/raw_data/g_taxon.jsonl",
        filetype: "jsonl"
    };  

    ReactDOM.render(
        React.createElement(Taxonium, { sourceData : sourceData }),
        document.querySelector('.content')
    );
</script>
{% endblock %}